{% extends 'mainapp/base.html' %}

{% block title %}Our Products - NAFakes{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <h1 class="text-4xl font-bold mb-8 text-center text-primary">Our Products</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        {% for image_url in image_urls %}
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition duration-300 ease-in-out transform hover:scale-105">
            <div class="h-48 bg-gray-300 relative overflow-hidden">
                <img src="{{ image_url }}" alt="Product Image" class="w-full h-full object-cover">
            </div>
            <div class="p-4">
                <h2 class="text-lg font-semibold mb-2 text-primary">Product {{ forloop.counter }}</h2>
                <a href="{% url 'order' %}" class="bg-primary text-secondary px-4 py-2 rounded-full hover:bg-accent transition duration-300 inline-block text-sm">Buy Now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
