{% extends 'mainapp/base.html' %}

{% block title %}Customer Reviews - NAFakes{% endblock %}

{% block content %}
<h1>Customer Reviews</h1>
<div class="reviews-list">
    <div class="review">
        <h3>Amazing Imagination Boost!</h3>
        <p class="author">By Jane D.</p>
        <p>My kids love their NAFakes products. It's incredible how much creativity these non-existent toys have sparked!</p>
    </div>
    <div class="review">
        <h3>Best Investment in Make-Believe</h3>
        <p class="author">By John S.</p>
        <p>NAFakes has revolutionized playtime in our household. The kids are constantly coming up with new adventures!</p>
    </div>
</div>
{% endblock %}
